<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462805679883-gig7211tirt678k7m0q6nlnqg2t6bjbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462805679883-gig7211tirt678k7m0q6nlnqg2t6bjbp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>462805679883-b21rtsf85usllhnlurp86n55fvnrv2oa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkcsXWrYOnHVUrtej1wrHbbxJHGypxkv0</string>
	<key>GCM_SENDER_ID</key>
	<string>462805679883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.udacity.FriendlyChat</string>
	<key>PROJECT_ID</key>
	<string>friendlychat-a898a</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlychat-a898a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462805679883:ios:54d07d5e2e28dd45a82c0e</string>
	<key>DATABASE_URL</key>
	<string>https://friendlychat-a898a.firebaseio.com</string>
</dict>
</plist>